<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Open weather map</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-bgDefault bg-center bg-no-repeat bg-cover">
  <section id="app" class="w-screen min-h-[100vh] flex flex-col lg:flex-row">

    <!--  start hero -->
    <div
      class="relative w-full lg:w-[25%] h-40 lg:h-screen flex flex-row justify-center items-center my-5 lg:my-0 background-transparent-lg">
      <div
        class="h-full w-3/4 lg:w-full flex flex-col items-center justify-center overflow-hidden background-transparent-sm rounded-xl lg:rounded-none">

        <!-- button -->
        <div class="w-full flex flex-row justify-center top-2 lg:top-5 absolute">
          <div class="w-[98%] lg:w-[90%] flex flex-row">
            <div class="w-1/2 flex flex-row">

              <button class="focus:outline-none" @click="refresh">
                <div
                  class="w-8 h-8 rounded-full mx-1 background-transparent-button flex flex-row justify-center items-center">
                  <span><i class="fas fa-redo text-xl"></i></span>
                </div>
              </button>

              <button class="focus:outline-none" @click="gps">
                <div
                  class="w-8 h-8 rounded-full mx-1 background-transparent-button flex flex-row justify-center items-center">
                  <span><i class="fas fa-map-marker-alt text-xl"></i></span>
                </div>
              </button>
            </div>

            <div class="w-1/2 flex flex-row justify-end">
              <button class="focus:outline-none" @click="search">
                <div
                  class="w-8 h-8 rounded-full background-transparent-button flex flex-row justify-center items-center">
                  <span><i class="fas fa-search"></i></span>
                </div>
              </button>
            </div>

          </div>
        </div>
        <!-- end button -->

        <div class="h-3/5 lg:h-1/2 flex flex-row lg:flex-col justify-center items-center lg:items-end">
          <img v-if="icon" class="lg:w-36 lg:h-36" :src="icon" alt="icon">
          <span class="text-3xl lg:text-5xl text-center w-full"> {{temp}} </span>
        </div>
        <div class="h-2/5 lg:h-1/2 flex flex-col justify-center items-center lg:justify-start">
          <div class="flex flex-col">
            <span class="text-xl lg:text-3xl text-center"> {{tempMin}} / {{tempMax}} </span>
            <span class="text-xl lg:text-3xl text-center"> {{name}} </span>
          </div>
        </div>
      </div>
      <!-- end hero⁄ -->
    </div>
    <!-- content start -->
    <div class="w-full lg:w-[75%] flex flex-col items-center min-h-[calc(100vh-160px-20px)]">
      <!-- Current weather data start -->
      <div class="w-4/5 lg:mt-5 mb-3 text-xl">
        <h2><span>Pronóstico para los próximos días.</span></h2>
      </div>
      <div class="w-4/5 h-36 lg:mb-5 rounded-lg overflow-x-auto flex flex-row gap-4 snap-x scroll">
        <div v-for="(daily, index) in dailys" :key="index"
          class="h-full w-32 rounded-lg snap-center shrink-0 background-transparent flex flex-col justify-center items-center">
          <div class="flex flex-row justify-center items-center">
            <img :src="daily.icon" alt="Icons de tiempo">
          </div>
          <div class="flex flex-row justify-center items-center">
            <span> {{daily.min}} / {{daily.max}} </span>
          </div>
          <div class="flex flex-row justify-center items-center">
            <span> {{daily.day}} </span>
          </div>
        </div>
      </div>
      <!-- Current weather data end -->

      <!-- info  start -->
      <div class="w-4/5 mt-5 mb-3 text-xl">
        <h2><span>Información del tiempo</span></h2>
      </div>
      <div class="w-full flex flex-row justify-center">
        <div class="w-4/5 grid grid-cols-1 lg:grid-cols-2 gap-4">
          <!-- 1 -->
          <div class="w-full h-44 background-transparent">
            <div class="w-full h-full flex flex-row justify-center items-center">
              <div class="w-[60%] h-[60%] flex flex-row justify-center items-center">
                <div class="w-[20%] h-full flex flex-row justify-center items-center">
                  <i class="fas fa-water text-blue-600 text-3xl"></i>
                </div>
                <div class="w-[80%] h-full flex flex-col">
                  <div class="h-1/2 w-full flex flex-row justify-center items-end text-xl lg:text-3xl">
                    <span>Humedad</span>
                  </div>
                  <div class="h-1/2 w-full flex flex-row justify-center items-start text-xl lg:text-3xl">
                    <span>{{humidity}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="w-full h-44 background-transparent">
            <div class="w-full h-full flex flex-row justify-center items-center">
              <div class="w-[60%] h-[60%] flex flex-row justify-center items-center">
                <div class="w-[20%] h-full flex flex-row justify-center items-center">
                  <i class="fas fa-tachometer-alt text-blue-600 text-3xl"></i>
                </div>
                <div class="w-[80%] h-full flex flex-col">
                  <div class="h-1/2 w-full flex flex-row justify-center items-end text-xl lg:text-3xl">
                    <span>Presión</span>
                  </div>
                  <div class="h-1/2 w-full flex flex-row justify-center items-start text-xl lg:text-3xl">
                    <span>{{pressure}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 3 -->
          <div class="w-full h-44 background-transparent">
            <div class="w-full h-full flex flex-row justify-center items-center">
              <div class="w-[60%] h-[60%] flex flex-row justify-center items-center">
                <div class="w-[20%] h-full flex flex-row justify-center items-center">
                  <i class="fas fa-wind text-blue-600 text-3xl"></i>
                </div>
                <div class="w-[80%] h-full flex flex-col">
                  <div class="h-1/2 w-full flex flex-row justify-center items-end text-xl">
                    <span>Viento</span>
                  </div>
                  <div class="h-1/2 w-full flex flex-row justify-center items-start text-lg lg:text-xl">
                    <span>{{wind}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 4 -->
          <div class="w-full h-44 background-transparent">
            <div class="w-full h-full flex flex-row justify-center items-center">
              <div v-if="sys" class="w-[60%] h-[60%] flex flex-col justify-center items-center">
                <div class="text-xl lg:text-3xl flex flex-row">
                  <i class="fas fa-sun text-blue-600 text-3xl mx-2"></i>
                  <span>{{sys.sunrise}}</span>
                </div>
                <div class="text-xl lg:text-3xl flex flex-row">
                  <i class="fas fa-moon text-blue-600 text-3xl mx-2"></i>
                  <span>{{sys.sunset}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- info  end -->

      <footer class="w-full flex flex-row justify-center text-sm my-3">
        <span>openweathermap - jonathanleivag</span>
      </footer>

    </div>
    <!-- content end -->
  </section>

  <!-- script -->
  <script src="https://unpkg.com/vue@3.2.24/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
  <script type="module" src="/main.js"></script>
</body>

</html>