@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-y-auto lg:overflow-hidden;
}

body::before {
  content: '';
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #52c4df, #ad55c1);
  opacity: 0.3;
  min-height: 100vh;
  z-index: -1;
}

.background-transparent {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.background-transparent-button {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

@media (max-width: 1024px) {
  .background-transparent-sm {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
  }
}
@media (min-width: 1024px) {
  .background-transparent-lg {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
  }
}

.swal2-container.swal2-center .swal2-popup {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  color: #c4c4c4;
  @apply rounded-xl;
}

.swal2-input {
  @apply rounded-full;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0 !important;
  width: 0 !important;
}
